div#visualization {
    position: relative;
}

div#canvasBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background-color: #e5c18e;
    z-index: -99999;
    outline: 1px solid black;
}

img#workspaceBackgroundGrassland {
    z-index: -100000;
}